<form class="mt-4">
    <div class="row mb-3">
      <!-- Columna izquierda -->
      <label class="col-sm-2 col-form-label fw-bold">Your E-mail</label>
      <!-- Columna derecha -->
      <div class="col-sm-10">
        <input type="email" class="form-control" placeholder="Your email">
      </div>
    </div>

    <div class="row mb-3">
      <!-- Columna izquierda -->
      <label class="col-sm-2 col-form-label fw-bold">Your message</label>
      <!-- Columna derecha -->
      <div class="col-sm-10">
        <textarea class="form-control" rows="5" placeholder="Please enter your message here..."></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary px-4">Submit</button>
      </div>
    </div>
  </form>