<!-- your html code here -->
<h2>Contact</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error quaerat autem provident aspernatur eligendi! Voluptate delectus tempora voluptatibus enim deleniti.</p>
<div class="row bg-body-secondary">
    <div class="d-flex col-mb-12 justify-content-center">Your e-mail
        <input type="text" placeholder="Your e-mail">
    </div>
    
    
    <div class="d-flex col-mb-12 justify-content-center">Your Message
        <textarea placeholder="Please enter your message here"></textarea>
    </div>

</div>