<!-- your html code here -->
 <div class="container my-5">
  <div class="row align-items-center">
    <div class="col-md-10">
      <h2><strong>Lorem Ipsum es </strong> simplemente el texto de relleno</h2>
      <p>
        esto es un Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen.
        No sólo sobrevivió 500 años, sino que tambien ingresó como texto
      </p>
    </div>
    <div class="col-md-2 text">
      <img src="https://picsum.photos/200?random=1" alt="Avatar" class="img-fluid rounded-circle">
    </div>
  </div>
</div>