<!-- your html code here -->
<div class="justify-content-center">
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem maiores nobis dolores
                soluta assumenda. Aliquid atque architecto neque veniam et inventore, repellendus magni perferendis nemo
                impedit consequuntur doloremque autem tempora.</p>
        </div>
    </div>
    <div class="card-group gap-4">
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-info">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
            </div>
        </div>
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-info">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="card">
            <img src="/website/assets/img/big-project-image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title text-info">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
            </div>
        </div>
    </div>
</div>